.form-title{
    text-decoration: solid;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
}

input[type=submit]:hover{
    background-color: chartreuse;

}

.pic{
    float: inline-start;
}


form {
    padding: 2rem;
    background-color: hsl(0, 0%, 100%);
    border: 10px solid hsl(0, 0%, 90%);
    display:grid;
    gap: 1rem;
    border-radius: 50px;
  }

.note{
    text-align: justify;
    text-decoration: underline;
  }

#contactlist{
    padding-top: 20px;
  }

  .img-thumbnail{
    padding-left:200px ;
  }

  input[type=text]{
    height: fit-content;
    width: 250px;

  }

  input[type=submit]{
    width: 100px;
  }

  #contactinfo{
    color: darkgoldenrod;
  }
  
  .form-title{
    color:darkgoldenrod
  }

  .contactus-form{
    background-color:antiquewhite;
  }

  #enquiry{
    width:70%;
  }